@import url('https://fonts.googleapis.com/css2?family=Average+Sans&family=Parkinsans:wght@300..800&display=swap');

:root {
    /* Colours */
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-900: hsl(0, 0%, 14%);
    --clr-neutral-400: hsl(0, 0%, 30%);

    --clr-pink-100: hsl(310, 100%, 98%);
    --clr-pink-200: hsl(310, 100%, 90%);
    --clr-green-200: hsl(120, 100%, 90%);
    --clr-green-100: hsl(120, 100%, 98%);
    --clr-grey-200: hsl(0, 0%, 80%);
    --clr-yellow-100: hsl(60, 100%, 98%);
    --clr-yellow-200: hsl(60, 100%, 80%);
    --clr-purple-400: hsl(260, 60%, 60%);

    /* Font Families */
    --ff-base: "Parkinsans", sans-serif;
    --ff-accent: "Average Sans", serif;

    /* Font Weights */
    --fw-regular: 500;
    --fw-bold: 600;
    --fw-black: 700;

    /* Font Sizes */
    --fs-300: 1rem;         /* 16px */
    --fs-400: 1.125rem;     /* 18px */
    --fs-500: 1.375rem;     /* 22px */
    --fs-600: 1.75rem;      /* 28px */
    --fs-700: 2.25rem;      /* 36px */

    /* Transitions */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body.dark {
    --clr-neutral-100: hsl(0, 0%, 12%);
    --clr-neutral-900: hsl(0, 0%, 100%);
    --clr-neutral-400: hsl(0, 0%, 70%);

    --clr-pink-100: hsl(310, 0%, 9%);
    --clr-pink-200: hsl(310, 100%, 70%);
    --clr-green-200: hsl(120, 100%, 70%);
    --clr-green-100: hsl(120, 100%, 98%);
    --clr-grey-200: hsl(0, 0%, 70%);
    --clr-yellow-100: hsl(60, 100%, 98%);
    --clr-yellow-200: hsl(60, 100%, 70%);
    --clr-purple-400: hsl(260, 100%, 70%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    transition: var(--tran-03);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-accent);
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-900);
}

body {
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    font-size: var(--fs-300);
    color: var(--clr-neutral-400);
    background-color: var(--clr-pink-100);
}

.theme-switch-container {
    --padding: 10px;

    display: flex;
    align-items: center;
    gap: 0.75rem;
    position: fixed;
    top: 0;
    right: 0;
    padding: 5px var(--padding) var(--padding) var(--padding);
    border-radius: 0 0 0 12px;
    background-color: var(--clr-neutral-100);
}

.theme-switch-container i {
    cursor: pointer;
    font-size: var(--fs-500);
    padding: 7px;
    border-radius: 6px;
    transition: var(--tran-02);
}

.theme-switch-container i:hover {
    background-color: var(--clr-pink-200);
    color: var(--clr-neutral-100);
}

main.home {
    display: grid;
    gap: 1rem;
    padding: 1.25rem;
}

section h1 {
    font-size: var(--fs-600);
}

section {
    display: grid;
    gap: 10px;
}

.week-container {
    display: grid;
    gap: 0.75rem;
}

.week-title-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.week {
    display: grid;
    gap: 5px;
    background-color: var(--clr-neutral-100);
    padding: 1rem;
    border-radius: 1rem 1rem 0 0;
    border-bottom: 2px solid;
    border-image-source: linear-gradient(90deg, var(--clr-pink-200), var(--clr-green-200), var(--clr-yellow-200));
    border-image-slice: 1;
    box-shadow: 0 0 1rem rgb(0 0 0 / 0.1);
}

.week-title-content i {
    font-size: var(--fs-700);
}

.week span {
    display: block;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
}

.stat-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.stat {
    --_shadow: var(--shadow, red);

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    background-color: var(--clr-neutral-100);
    border-radius: 6px;
    box-shadow: 0 0 1rem rgb(0 0 0 / 0.1);
}

.stat::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    translate: 4px 4px;
    border-radius: inherit;
    background: var(--_shadow);
}

.stat p {
    font-size: var(--fs-400);
}

.stat h2 {
    font-size: var(--fs-600);
}

.stat--rhys {
    --shadow: var(--clr-green-200);
}

.stat--draw {
    --shadow: var(--clr-grey-200);
}

.stat--ben {
    --shadow: var(--clr-yellow-200);
}

.week-inner-content-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.week-inner-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.week-inner-content h2 {
    font-size: var(--fs-700);
}

.week-title-content i.bxs-info-circle {
    margin-right: 2.4rem;
    color: var(--clr-purple-400);
}

.countdown-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.number {
    display: grid;
    place-items: center;
    background-color: var(--clr-neutral-100);
    padding: 10px;
    border-radius: 1rem 1.25rem;
    border-bottom: 2px solid var(--clr-pink-200);
    box-shadow: 0 0 1rem rgb(0 0 0 / 0.1);
}

.week-outer-container {
    display: grid;
    gap: 10px;
}

.week-outer-content:nth-child(2) {
    display: flex;
    align-self: center;
    align-items: baseline;
    gap: 10px;
}

.week-outer-content:nth-child(2) h2 {
    color: var(--clr-neutral-400);
}

.week-outer-content:nth-child(3) h2 {
    color: var(--clr-neutral-400);
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
}

.week-outer-content:first-child {
    place-items: center;
}

.week-outer-content:first-child h2 {
    font-size: var(--fs-700);
}

@media (max-width: 768px) {
    .stat-container {
        grid-template-columns: 1fr;
    }

    .countdown-container {
        grid-template-columns: repeat(2, 1fr);
    }
}